# Requires PowerShell 7+
$COMMON_APPS = @(
{{- include "common_apps.txt" -}}
)

Write-Host 'Running Windows setup using Scoop...'
if (!(Get-Command scoop -ErrorAction SilentlyContinue)) {
    iwr -useb get.scoop.sh | iex
}
scoop bucket add extras | Out-Null
scoop bucket add nerd-fonts | Out-Null
foreach ($pkg in $COMMON_APPS) {
    scoop install $pkg
}
# Install fonts (Windows-specific: FiraCode-NF)
scoop install FiraCode-NF
