{{ if ne .chezmoi.os "darwin" }}darwin/**{{ end }}
{{ if ne .chezmoi.os "linux" }}linux/**{{ end }}
{{ if ne .chezmoi.os "windows" }}windows/**{{ end }}
{{ if ne .chezmoi.os "windows" }}AppData/**{{ end }}
{{ if ne .chezmoi.os "darwin" }}Library/**{{ end }}
{{ if ne .chezmoi.os "windows" }}symlink_AppData/**{{ end }}
{{ if ne .chezmoi.os "darwin" }}symlink_Library/**{{ end }}
{{ if ne .chezmoi.os "darwin" }}dot_hammerspoon/**{{ end }}
