{{ if eq .chezmoi.os "windows" -}}
if (Get-Command hx -ErrorAction SilentlyContinue) {
    exit 0
}
if (Get-Command winget -ErrorAction SilentlyContinue) {
    winget install --id Helix.Helix -e
} elseif (Get-Command choco -ErrorAction SilentlyContinue) {
    choco install helix -y
} else {
    Write-Output "No supported package manager found for Helix installation."
}
{{ end -}}
