{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash
set -e
if command -v hx >/dev/null 2>&1; then
    exit 0
fi
if command -v brew >/dev/null 2>&1; then
    brew install helix
elif command -v apt-get >/dev/null 2>&1; then
    sudo apt-get update
    sudo apt-get install -y helix
elif command -v pacman >/dev/null 2>&1; then
    sudo pacman --noconfirm -S helix
elif command -v dnf >/dev/null 2>&1; then
    sudo dnf install -y helix
else
    echo "No supported package manager found for Helix installation."
fi
{{ end -}}
