# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json

gui:
  # Use Nerd Font v3 icons (your repo already installs JetBrainsMono Nerd Font)
  # Set to "2" if you still use Nerd Font v2.
  nerdFontsVersion: "3"
  showFileIcons: true

  # Keep the theme dark. The actual colors will be supplied by LazyVim when you
  # open Lazygit from Neovim (see §3).
  theme:
    lightTheme: false

os:
  editPreset: "vscode"

promptToReturnFromSubprocess: false

