{{/* vscode-keybindings.json template for chezmoi */}}
// Place your key bindings in this file to override the defaults
[
    {
        "key": "shift+f2",
        "command": "workbench.action.tasks.build",
        "when": "taskCommandsRegistered"
    },
    {
        "key": "shift+f3",
        "command": "workbench.action.quickOpen"
    },
    {
        "key": "shift+f4",
        "command": "editorScroll",
        "args": { "to": "up", "by": "line", "value": 16 },
        "when": "textInputFocus"
    },
    {
        "key": "shift+f6",
        "command": "editorScroll",
        "args": { "to": "down", "by": "line", "value": 16 },
        "when": "textInputFocus"
    },
    {
        "key": "shift+f7",
        "command": "cmake.outline.stop"
    },
    {
        "key": "shift+f8",
        "command": "editor.action.revealDefinition",
        "when": "editorHasDefinitionProvider && editorTextFocus"
    },
    {
        "key": "shift+f11",
        "command": "editor.action.commentLine",
        "when": "editorTextFocus"
    },
    {
        "key": "pagedown",
        "command": "scrollPageDown",
        "when": "textInputFocus"
    },
    {
        "key": "pageup",
        "command": "scrollPageUp",
        "when": "textInputFocus"
    },

    // Terminal navigation
    {
        "key": "ctrl+shift+a",
        "command": "workbench.action.terminal.focusNext",
        "when": "terminalFocus"
    },
    {
        "key": "ctrl+shift+b",
        "command": "workbench.action.terminal.focusPrevious",
        "when": "terminalFocus"
    },
    {
        "key": "ctrl+shift+j",
        "command": "workbench.action.togglePanel"
    },
    {
        "key": "ctrl+shift+n",
        "command": "workbench.action.terminal.new",
        "when": "terminalFocus"
    },
    {
        "key": "ctrl+shift+w",
        "command": "workbench.action.terminal.kill",
        "when": "terminalFocus"
    },

    // File explorer shortcuts
    {
        "command": "workbench.action.toggleSidebarVisibility",
        "key": "ctrl+e"
    },
    {
        "command": "workbench.files.action.focusFilesExplorer",
        "key": "ctrl+e",
        "when": "editorTextFocus"
    },
    {
        "key": "n",
        "command": "explorer.newFile",
        "when": "filesExplorerFocus && !inputFocus"
    },
    {
        "command": "renameFile",
        "key": "r",
        "when": "filesExplorerFocus && !inputFocus"
    },
    {
        "key": "shift+n",
        "command": "explorer.newFolder",
        "when": "explorerViewletFocus"
    },
    {
        "key": "shift+n",
        "command": "workbench.action.newWindow",
        "when": "!explorerViewletFocus"
    },
    {
        "command": "deleteFile",
        "key": "d",
        "when": "filesExplorerFocus && !inputFocus"
    },

    // Extra utilities
    {
        "key": "ctrl+shift+5",
        "command": "editor.emmet.action.matchTag"
    },
    {
        "key": "ctrl+z",
        "command": "workbench.action.toggleZenMode"
    }
]
